<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>MyBlog</title>
    
    
  </head>
  <body>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20 justify-self-auto">
          <div class="lg:w-full w-full mb-6 lg:mb-0 justify-self-auto">
          {% if user.is_authenticated %}
    
            <h1 class="container text-center pt-10 title-font text-3xl">
              {{user.username}}'s MyBlog
            </h1>
            {% else %}
            <h1 class="container text-center pt-10 title-font text-3xl">
              Welcome to MyBLOG
            </h1>
    {% endif %}
            
          </div>
          
        </div>
        <div class="flex flex-wrap -m-4">
        {% for post in posts reversed %}
        
          <div class="xl:w-1/4 md:w-1/2 p-4">
          <a href='/post/{{post.id}}'>
            <div class="bg-gray-100 p-6 rounded-lg hover:bg-gray-300 hover:text-black">
              <img
                class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://source.unsplash.com/1200x200/?{{post.pic}}"
                alt="content"
              />
              <h3
                class="
                  tracking-widest
                  text-indigo-500 text-xs
                  font-medium
                  title-font
                "
              >
                {{post.created_at}}
              </h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
                {{post.title}}
              </h2>
              <p class="leading-relaxed text-base">
                {{post.body|truncatewords:20}}
              </p>
            </div>
            </a>
          </div>
          
          {% endfor %}
          
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
