<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Mayeen's Blog</title>
  </head>

  <body>
    <div class="w-full mb-10 mt-10">
      <div class="lg:w-full w-full mb-6 lg:mb-0 mx-10">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"
        >
          MAYEEN'S BLOG
        </h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
    </div>
    <div class="xl:w-1/1 md:w-1/1 p-4">
      <div class="bg-gray-100 p-6 rounded-lg">
        <img
          class="h-80 rounded w-full object-cover object-center mb-6"
          src="https://source.unsplash.com/1200x400/?{{posts.pic}}"
          alt="content"
        />
        <h3
          class="
            tracking-widest
            text-indigo-500 text-xs
            font-medium
            title-font
            text-center
          "
        >
          {{posts.created_at}}
        </h3>
        <h2
          class="text-xl text-gray-900 font-medium title-font mb-4 text-center"
        >
          {{posts.title}}
        </h2>
        <p class="leading-relaxed text-base">{{posts.body}}</p>
      </div>
    </div>
  </body>
</html>
